# Dependencies
node_modules
.pnpm-debug.log

# Build outputs
dist
.vinxi
.output

# Environment variables
.env
.env.local

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Test coverage
coverage

# Misc
*.log
.cache
.secrets